@page
@model TechBayV01.Pages.comprador.IndexModel
@{
    ViewData["Title"] = "Boas vindas comprador";
}

<!DOCTYPE html>
<html lang="pt-BR">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Boas vindas</title>
   
</head>
<body class="min-h-screen bg-gradient-to-br from-slate-50 via-blue-50 to-slate-100">
   Boas vindas comprador!
</body>
</html>
